<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Raminder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
<a routerLink="/faq">Faq</a><br/><br/>
<main>
  <div id="container">
    <h2 align="center">Welcome </h2>
  </div>
  <div id="container" align="center">

<input [(ngModel)] = "testimonialsearch.name">
<button (click) ="findTestimonial(testimonialsearch)">Find Testimonial by name</button>
  </div>
<div *ngFor = "let t of testimonial"class="container" align="center">
<ul align="center" class="list-unstyled">
  <li>Id : {{t.Id}} </li>
  <li>Title : {{t.title}}</li>
  <li>Content : {{t.content}}</li>
  <li>Name : {{t.name}}</li>
  <li>Company : {{t.company}}</li>
  <li>Designation : {{t.designation}}</li>
  <li>Create Date : {{t.createdate}}</li>
  <li>Is Active : {{t.isActive}}</li>
</ul>
</div>
